/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require skeleton
*= require_tree .
 *= require_self
 */

.card {
  border: 1px solid black;
  margin-bottom: .5em;
  p, .button, label, input {
    margin: .25em .5em;
  }
}

.hidden {
  display: none;
}

.hover {
  &:hover {
    cursor: pointer;
  }
}

.small-top-margin {
  margin-top: 1em;
}

.card.in-links {
  width: 85%;
  border-left: 0px;
}

.danger {
  background-color: red;
  color: white;
}

#error {
  outline: 2px solid red;
}
